:root {
  --color-off-white: #FBFCFF;
  --color-grey-light-1: #F9F9F9;
  --color-grey-light-2: #F4F2F2;
  --color-grey-light-3: #CCCCCC;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #333;
  --color-pink: #FEA8A9;
  --color-purple-dark: #400E72;
  --color-purple-light: #9E429D;
  --color-blue-dark: #1C548F;
  --color-blue-light: #1C6E8C;
  --color-yellow: #F9EC2F;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem; }

.header {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__nav {
    font-weight: 700;
    font-size: 1.6rem;
    color: black; }
  .header__logo {
    height: 5rem; }

.hero {
  height: 100%;
  background-color: var(--color-pink); }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .hero {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 60% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 60% 100%, 0 100%); } }
  .hero__img {
    height: 80%; }
  .hero__text {
    font-family: "Alegreya", serif;
    font-size: 4.5rem;
    color: #FFF; }

.app {
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  margin: auto;
  width: 90vw;
  height: 100vh; }

.content {
  height: 90%;
  width: 100%;
  box-shadow: var(--shadow-light);
  overflow-y: scroll; }
