.about {
    background-color: white;
    // color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 90vh;

    // &:before {
    //     // min-height: 80vh;
    //     content: "";
    //     position: fixed;
    //     background-image: url(../img/ocean.jpg);
    //     background-size: cover;
    //     background-attachment: fixed;
    //     filter: blur(2rem);
    // }

    &__bio {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.18rem;
        margin: 10rem auto;
        padding: 3rem 4rem;
        max-width: 80rem;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-centered {
            text-align: center;
            font-weight: 400;
            font-style: italic;
        }

        &--line {
            margin: auto;
            width: 20vw;
            padding-top: 2rem;
            border-bottom: 2px solid black;
        }

        a {
            text-decoration: none;
            color: var(--color-black);
        }

        p {
            &:not(:last-child) {
                padding-bottom: 3rem;
            }
        }
    }

    &__header {
        align-self: center;
        font-weight: 300;
        font-size: 6rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        padding: 0 2rem;
        cursor: default;
        color: var(--color-black);
        border-left: 2px solid black;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}
