.about {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__image {
        max-height: 80vh;
        background-size: cover;
    }

    &__bio {
        margin: auto;
        padding: 0 4rem;
        max-width: 60%;
        text-align: justify;

        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            &:not(:last-child) {
                padding-bottom: 3rem;
            }
        }
    }

    &__header {
        font-weight: 700;
        font-size: 3.5rem;
        margin-bottom: 2rem;
        border-bottom: var(--line-black-thick);
    }
}
