.header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: var(--line);

    &__nav {
        font-weight: 700;
        font-size: 1.6rem;
        color: black;
    }

    &__logo {
        height: 5rem;
    }
}
