.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 50;

    &__container {
        position: relative;
        height: 100vh;
        // width: 100vw;
        background-color: var(--color-pink);
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        transform: scale(1.02);

        @media only screen and (min-width: $bp-ultralarge) {
            width: 100vw;
        }

        @media only screen and (max-width: $bp-phone) {
            object-position: 40% 0%;
            transform: scale(1);
        }
    }

    &__text {
        position: absolute;
        top: 22rem;
        right: 2rem;
        width: 42%;
        font-family: $font-serif;
        font-size: 3.1rem;
        color: var(--color-black);
        font-weight: 400;
        margin: auto;
        margin-right: 3rem;
        padding-left: 5rem;
        padding-bottom: 5rem;
        animation: fadeIn 0.7s ease-out;

        span {
            font-weight: 700;
        }

        @media only screen and (min-width: $bp-ultralarge) {
            top: 35%;
        }

        @media only screen and (max-width: $bp-large) {
            top: 30rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
            padding-bottom: 1rem;
            top: 35rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2.2rem;
        }

        @media only screen and (max-width: $bp-phone) {
            color: white;
            text-align: center;
            top: 80%;
            right: 9%;
            margin-right: 0rem;
            padding-left: 0rem;
            padding-bottom: 0rem;
            width: 85%;
            font-size: 2rem;
        }
    }

    &__cta {
        font-size: 1.5rem;
        font-family: $font-primary;
        font-weight: 400;
        letter-spacing: .4rem;
        text-transform: uppercase;
        padding-bottom: 2rem;
        background: none;
        border: none;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1rem;
            letter-spacing: .3rem;
            padding-bottom: 0rem;
        }

        @media only screen and (max-width: $bp-small) {
            letter-spacing: .1rem;
        }

        a {
            &:link,
            &:visited {
                color: var(--color-black);
                text-decoration: none;
                text-transform: uppercase;

                @media only screen and (max-width: $bp-phone) {
                    color: white;
                }
            }
        }

        &::after {
            content: "";
            display: block;
            width: 33%;
            height: 2px;
            margin-top: .5rem;
            background: var(--color-black);
            transition: width 0.2s ease-out;

            @media only screen and (max-width: $bp-medium) {
                height: 1px;
            }

            @media only screen and (max-width: $bp-phone) {
                background: white;
            }
        }

        &:hover::after {
            width: 100%;
        }

        span {
            padding-left: 0;
            transition: padding .2s ease-out;

            @media only screen and (max-width: $bp-phone) {
                display: none;
            }
        }

        &:hover span {
            padding-left: .5rem;
        }
    }

    &__learn-more {
        width: 40%;
        height: 20%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        background-color: rgba($color-blue-dark, .6);
        z-index: 100;

        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        align-items: center;
        padding-top: 5rem;
        padding-right: 5rem;
        position: absolute;
        left: 60%;
        transition: all 0.2s ease-out;
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
        }

        @media only screen and (max-width: $bp-large) {
            font-size: 1.7rem;
            padding-top: 9rem;
        }

        @media only screen and (max-width: $bp-large) {
            font-size: 1.7rem;
            padding-top: 10rem;
            padding-right: 3rem;
        }

        @media only screen and (max-width: $bp-phone) {
            display: none;
        }

        &:link,
        &:visited {
            color: var(--color-white);
        }

        &:hover {
            background-color: rgba($color-blue-dark, .8);
            color: var(--color-white);
            height: 22%;
        }
    }
}
