.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-off-white);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
}

.content {
    background-color: #FFF;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    box-shadow: var(--shadow-dark);
}

.main-content {
    // width: 100%;

}
