.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-off-white);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content {
    background-color: #FFF;
    height: 100%;
    width: 100%;
}
