.portfolio {
    background-color: var(--color-white);
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__header {
        align-self: center;
        font-weight: 300;
        font-size: 6rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        padding: 0 2rem;
        cursor: default;
        color: var(--color-black);
        border-right: 2px solid black;
        writing-mode: vertical-lr;
        text-orientation: upright;
        position: sticky;
    }

    &__grid {
        // margin: 0 2rem;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    &__card {
        // display: flex;
        flex-direction: row;
        width: 80%;
        margin: 5rem auto;

        &--title {
            font-family: $font-serif;
            padding-right: 1rem;
            margin-bottom: 3rem;
            text-align: left;

            &-heading {
                font-size: 7rem;
                margin-bottom: -2rem;
            }

            &-subheading {
                font-size: 4rem;
                font-style: italic;
            }

        }

        &--info {
            border-left: 2px solid black;
            padding-left: 3rem;
            font-size: 2rem;
            letter-spacing: .1rem;

            &-img-area {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    width: 50%;
                    // height: 50%;
                    object-fit: contain;
                }

            }

            &-text {
                p:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
