.portfolio {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__header {
        align-self: center;
        font-weight: 300;
        font-size: 6rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        padding: 0 2rem;
        cursor: default;
        color: var(--color-black);
        border-right: 2px solid black;
        writing-mode: vertical-lr;
        text-orientation: upright;
        position: sticky;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    &__card {
        // display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0 5rem;
        margin: 5rem auto;

        &--title {
            font-family: $font-serif;
            padding-right: 1rem;
            margin-bottom: 3rem;
            text-align: left;
            flex: 1;

            &-heading {
                font-size: 5rem;
                margin-bottom: -2rem;
            }

            &-subheading {
                font-size: 3rem;
                font-style: italic;
            }
        }

        &--info {
            padding-left: 3rem;
            font-size: 2rem;
            letter-spacing: 0.1rem;

            &-img-area {
                width: 100%;

                img {
                    width: 100%;
                    object-fit: contain;
                }
                // &:hover > img {
                //     transform: scale(1.1);
                // }
            }
        }
    }

    &__cta {
        font-size: 2rem;
        font-family: $font-primary;
        font-weight: 400;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        padding: 1rem 0 2rem 0.5rem;
        background: none;
        border: none;
        outline: none;

        a {
            &:link,
            &:visited {
                color: var(--color-black);
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 33%;
            height: 2px;
            margin-top: 0.5rem;
            background: var(--color-black);
            transition: width 0.2s ease-out;
        }

        &:hover::after {
            width: 100%;
        }

        span {
            padding-left: 0;
            transition: padding 0.2s ease-out;
        }

        &:hover span {
            padding-left: 0.5rem;
        }
    }
}

.overlay {
    content: "";
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 5000;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    &_close {
        border: none;
        outline: none;
        display: none;
        position: absolute;
        left: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
    }

    &_close:hover {
        opacity: 1;
    }

    &_close:active {
        transform: scale(.92);
    }

    &_close:after,
    &_close:before {
        position: absolute;
        top: 0;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &_close:before {
        transform: rotate(45deg);
    }

    &_close:after {
        transform: rotate(-45deg);
    }

    &_materia {
        display: none;
    }

    &_todoist {
        display: none;
    }

    &_creatutor {
        display: none;
    }
}

.overlayfullwidth {
    width: 100vw;
}

.portfoliodisplay {
    display: inline;
}

.portfoliodisplaynone {
    display: none;
}
