.testimonials {
    background-color: var(--color-blue-medium);
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__header {
        font-weight: 300;
        font-size: 4rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        padding: 0 2rem;
        cursor: default;
        color: var(--color-white);
        border-left: 2px solid white;
        border-right: 2px solid white;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 4rem;
        background: var(--color-white);
        box-shadow: 0 3rem 6rem rgba(0,0,0,.1);
        transform: skewX(-10deg);

        &:not(:last-child) {
            margin-bottom: 6rem;
        }
    }

    &__picture {
        width: 65rem;
        height: 15rem;
        margin-right: 3rem;
        border-radius: 50%;
        transform: skewX(10deg);
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    &__text {
        transform: skewX(10deg);

        strong p {
            font-size: 1.9rem;
            margin-bottom: .7rem;
        }
    }
}
